@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.background {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
    margin: 10px auto;
    /* background:#ffedf1; */
    border: 3px solid #FD3B84;

}
h1 {
    color: #FD3B84;
    margin: 100px auto 90px;
    font-size: 70px;
    /* line-height: 25px; */
    font-weight: 400;
    letter-spacing: 0.2em;
}

.calculator {
    display: grid;
    grid-template-areas: 
    "plus minus"
    "multiplication division";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    gap: 50px;

}

.button {
    background-image: linear-gradient(180deg, #FF8D8B 10%, #FE7489 50%, #FD3B84 100%);
    color: #ffffff;
    border: none;
    border-radius: 5%;
    box-shadow: 0 5px #BC0047;
    text-align: center;
    text-decoration: none;
    font-size: 170px;
    /* line-height: 25px; */
    font-weight: 400;
}

.button:hover {
    -webkit-transform: translateY(2px);
    box-shadow: 0 3px #BC0047;
    text-shadow: 0 0 10px rgba(255,255,255, 1), 0 0 5px rgba(255, 255, 255, .6);
}

.button:active {
    -webkit-transform: translateY(5px);
    box-shadow: 0 0 #BC0047;
}

